.card-container,.card--clean{
    width:100%;
    height:100%;
}
.card--clean .card__content{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}
.zd {
    width: 100%;
    height: auto;
    padding-bottom: 16px;
}
.zd__header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zd__header i {
    color: #02A8F3;
    font-size: 50px;
}
.zd__title {
    color: #4b4b4c;
    font-size: 18px;
    font-weight: 500;
}
.zd__title,
.zd__description {
    margin-bottom: 8px;
    text-align: center;
}
.zd__description {
    color: #737780;
    font-size: 13px;
}
.zd__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.zd--xs {
    max-width: 172px;
}
.zd--xs .zd__title {
    font-size: 13px;
    line-height: 18px;
}
.zd--xs .zd__description {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 16px;
}
.zd--xs .btn--zd {
    padding: 0 12px;
    font-size: 12px;
    line-height: 32px;
    cursor: pointer;
}
.zd--xs .zd__header i {
    font-size: 35px;
}
.zd--xs .zd__header {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.zd--sm {
    max-width: 224px;
}
.zd--sm .zd__title {
    font-size: 14px;
    line-height: 20px;
}
.zd--sm .zd__description {
    font-size: 13px;
    line-height: 18px;
}
.zd--sm .btn--zd {
    padding: 0 16px;
    font-size: 12px;
    line-height: 36px;
}
.zd--sm .zd__header i {
    font-size: 45px;
}
.zd--sm .zd__header {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}
.zd--default,
.zd--dft {
    max-width: 224px;
}
.zd--default .zd__title,
.zd--dft .zd__title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
}
.zd--default .zd__description,
.zd--dft .zd__description {
    margin-bottom: 16px;
    font-size: 13px;
    line-height: 20px;
}
.zd--default .btn--zd,
.zd--dft .btn--zd {
    padding: 0 22px;
    font-size: 13px;
    line-height: 40px;
}
.zd--default .zd__header i,
.zd--dft .zd__header i {
    font-size: 65px;
}
.zd--default .zd__header,
.zd--dft .zd__header {
    width: 62px;
    height: 62px;
    margin-bottom: 24px;
}
.zd--lg,
.zd--large {
    max-width: 400px;
}
.zd--lg .zd__title,
.zd--large .zd__title {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 28px;
}
.zd--lg .zd__description,
.zd--large .zd__description {
    margin-bottom: 24px;
    font-size: 16px;
}
.zd--lg .btn--zd,
.zd--large .btn--zd {
    padding: 0 36px;
    font-size: 15px;
    line-height: 52px;
}
.zd--lg .zd__header i,
.zd--large .zd__header i {
    font-size: 130px;
}
.zd--lg .zd__header,
.zd--large .zd__header {
    width: 135px;
    height: 135px;
    margin-bottom: 18px;
}
.zero-data {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    min-height: 30vh;
    margin: 24px 0;
    overflow: hidden;
    background-color: #fff;
    color: #848484;
}
.zero-data .zero-data__indicator {
    width: auto;
    padding: 0 6vw;
    text-align: center;
}
.zero-data .zero-data__indicator:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    display: inline-block;
    color: #e0e0e0;
    font: normal normal normal 10vh/1 'Material-Design-Iconic-Font';
    font-size: 15vw;
    text-rendering: auto;
    content: '\f1f8';
    transition: 300ms;
    z-index: 1;
}
.zero-data .zero-data__indicator i {
    font-size: 15vw;
}
.zero-data .zero-data__txt {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.zero-data .zero-data__txt,
.zero-data .zero-data__txt a {
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.2;
    text-align: center;
}
.zero-data.zero-data--help {
    border: 1px dotted #f0f8fe;
}
.zero-data.zero-data--help a {
    font-weight: 300;
}
.zero-data.zero-data--help .zero-data__indicator:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    display: inline-block;
    color: #d3eafd;
    text-rendering: auto;
    content: '\f1f6';
    transition: 300ms;
    z-index: 1;
}
.zero-data.zero-data--help .zero-data__txt a {
    color: #d3eafd;
}
@media only screen and (max-width: 1549px) {
    .zero-data .zero-data__indicator:before {
        font: normal normal normal 20vh/1 'Material-Design-Iconic-Font';
    }
    .zero-data .zero-data__indicator i {
        font-size: 35vw;
    }
    .zero-data .zero-data__txt {
        padding: 0 5%;
        font-size: 5vw;
    }
    .zero-data .zero-data__txt a {
        font-size: inherit;
    }
}
@media only screen and (max-width: 767px) {
    .zero-data .zero-data__indicator:before {
        font: normal normal normal 15vh/1 'Material-Design-Iconic-Font';
    }
    .zero-data .zero-data__txt {
        padding: 0 5%;
        font-size: 6vw;
    }
    .zero-data .zero-data__txt a {
        font-size: inherit;
    }
}
@media only screen and (max-width: 449px) {
    .zero-data .zero-data__txt {
        padding: 0 3vw;
        font-size: 6vw;
    }
    .zero-data .zero-data__txt a {
        font-size: inherit;
    }
}
#app-wrapper .tbl-c--zd td {
    border: 0;
}
#app-wrapper .tbl-c--zd th td {
    pointer-events: none;
}
#app-wrapper .tbl-c--zd .zd {
    max-width: initial;
}
#app-wrapper .tbl-c--zd .zd .zd__header i {
    color: #02A8F3;
    font-size: 130px;
}
#app-wrapper .tbl-c--zd tbody tr {
    height: 400px;
}
#app-wrapper .tbl-c--zd tbody tr .zd {
    height: 100%;
}
.is-ie11 .zd.zd--sm .zd__description,
.is-ie11 .zd.zd--default .zd__description {
    width: 220px;
}
.is-ie11 .zd.zd--lg .zd__description {
    width: 400px;
}
.is-ie11 .zd.zd--xs .zd__description {
    width: 170px;
}